<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/promocoes/form" method="post">
      <input type="text" name="nomePromocao" value="" placeholder="Coloque um nome para a promoção: ">
      <select class="" name="">
          <option value=""></option>
      </select>
      <input type="submit" name="" value="">
    </form>
        </body>
</html>
